<!DOCTYPE html>
<html lang="uk">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebStudio</title>
  <!-- ICONS -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/png" href="/img/ico/ico-removebg-preview.png">
 
  <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
    
  <!-- ANIMATE -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" 
  integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/main-portfolio.css">
  <link rel="stylesheet" href="/css/slider.css">
</head>

<body>
  <header class="header header__absolute">
    <div class="container header__container">
      <a href="#" class="logo">
        <img src="/img/logo/logo.png" alt="logo-header" class="header__logo-image">
      </a>
        <div class="header__contact-list">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="#" rel="preconnect" class="header__nav-link header__nav-link--active">Головна</a>
              </li>
              <li class="header__nav-item">
                <a href="/gallery" rel="preconnect" class="header__nav-link ">Каталог</a>
              </li>
              <li class="header__nav-item">
                <a href="#" rel="preconnect" class="header__nav-link">Контакти</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="contact-block">
          <ul class="header__contact">
            <li class="header__contact-item">
              <a href="mailto:info@devstudio.com" class="header__contact-link">
                <svg width="106" height="60" class="header__contact-icon">
                  <use href="/img/header-icons/symbol-defs.svg#icon-envelope" fill="currentColor"></use>
                </svg>

                info@devstudio.com
              </a>
            </li>
            <li class="header__contact-item">
              <a href="tel:+380961111111" class="header__contact-link">
                <svg width="106" height="60" class="header__contact-icon">
                  <use href="/img/header-icons/symbol-defs.svg#icon-envelope" fill="currentColor"></use>
                </svg>
                
                +38 096 111 11 11
              </a>
            </li>
          </ul>
      </div>

      <div>
        <ul class="header__contact">
            <th:block th:if="${username != 'Гість'}">
                <a href="#" class="header__nav-link" onclick="toggleDropdown()" th:text="${username}">username</a>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li><a href="/order-status" class="dropdown-item">Статус замовлення</a></li>
                    <li><a href="/profile" class="dropdown-item">Профіль</a></li>
                    <li><a href="/logout" class="dropdown-item">Вийти</a></li>
                </ul>
            </th:block>

            <th:block th:if="${username == 'Гість'}">
                <span class="header__nav-link">Гість</span>
            </th:block>
        </ul>
      </div>
    </div>
  </header>  
    <main class="main">

        <div class="slider">
            <div class="slider__content">
                <h1 class="slider__title" style="padding-bottom: 20px; font-size: 44px;">Продаж взуття</h1>
                <button class="slider__button"><a href="/login">Увійти/Зареєструватися</a></button> <!--data-modal-open-->
            </div>

            <div class="slideshow">
                <div class="slide">
                    <img src="/img/hero/img_slider1.jpg" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="/img/hero/img_slider2.jpg" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="/img/hero/img_slider3.jpg" alt="Image 3">
                </div>
                <div class="slide">
                    <img src="/img/hero/img_slider4.jpg" alt="Image 4">
                </div>
            </div>
        </div>

        <!-- перый блок/ hero -->

   
      <!-- "про нас/список преимуществ" -->
      <section class="about" data-aos="fade-up">
        <div class="about__container container">
            <ul class="about__list">
                <li class="about__item">
                    <div class="about__photo">
                        <img src="/img/about-img/eye.svg" alt="eye" class="about__img">
                    </div>
                    <h2 class="about__title">👟 УВАГА ДО ДЕТАЛЕЙ</h2>
                    <p class="about__description">
                        Ми ретельно підбираємо кожну пару взуття, щоб забезпечити комфорт, стиль та довговічність.
                    </p>
                </li>
                <li class="about__item">
                    <div class="about__photo">
                        <img src="/img/about-img/truck.svg" alt="truck" class="about__img">
                    </div>
                    <h2 class="about__title">⏰ ПУНКТУАЛЬНІСТЬ</h2>
                    <p class="about__description">
                        Швидка доставка прямо до вашого дому — вчасно, як ви очікуєте.
                    </p>
                </li>
                <li class="about__item">
                    <div class="about__photo">
                        <img src="/img/about-img/stats-dots.svg" alt="diagram" class="about__img">
                    </div>
                    <h2 class="about__title">📈 ПЛАНУВАННЯ</h2>
                    <p class="about__description">
                        Ми завжди оновлюємо наш асортимент, враховуючи ваші потреби та модні тенденції.
                    </p>
                </li>
                <li class="about__item">
                    <div class="about__photo">
                        <img src="/img/about-img/cool.svg" alt="cool" class="about__img">
                    </div>
                    <h2 class="about__title">🌍 ВИСОКА ЯКІСТЬ</h2>
                    <p class="about__description">
                        Ми пропонуємо лише перевірені бренди та якісні матеріали для вашого комфорту.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    

      <!-- чем занимаемся/картинки рабочего стола -->
      <section class="services">
        <div class="services__container container">
            <h2 class="services__title">Чим ми займаємося</h2>
            <div class="services__cards">
                <figure class="services__card">
                    <img
                        class="services__img"
                        src="/img/class/algorithm.jpg"
                        alt="малюнок з алгоритмом на аркуші паперу"
                    />
                    <figcaption class="services__card-title">Десктопні додатки</figcaption>
                </figure>
                <figure class="services__card">
                    <img
                        class="services__img"
                        src="/img/class/phone.jpg"
                        alt="зображення руки з телефоном"
                    />
                    <figcaption class="services__card-title">Мобільні додатки</figcaption>
                </figure>
                <figure class="services__card">
                    <img
                        class="services__img"
                        src="/img/class/spectrum.jpg"
                        alt="колірний спектр"
                    />
                    <figcaption class="services__card-title">Дизайнерські рішення</figcaption>
                </figure>
            </div>
        </div>
    </section>

      <!-- Наша команда -->
      <section class="team">
    <div class="team__container container">
        <h2 class="team__title">Наша команда</h2>
        <div class="team__list">
            <!-- Первый пример -->
            <article class="team__item">
                <div class="team__photo">
                    <img src="/img/shoes-example/first_example.jpg" alt="first_example" class="team__img" />
                </div>
                <div class="team__info">
                    <h2 class="team__name">Asics Gel-Nyc Graphite</h2>
                    <p class="team__position"></p>
                </div>
            </article>

            <!-- Второй пример -->
            <article class="team__item">
                <div class="team__photo">
                    <img src="/img/shoes-example/second_example.jpg" alt="second_example" class="team__img" />
                </div>
                <div class="team__info">
                    <h2 class="team__name">New Balance 740</h2>
                    <p class="team__position"></p>
                </div>
            </article>

            <!-- Третий пример -->
            <article class="team__item">
                <div class="team__photo">
                    <img src="/img/shoes-example/third_example.jpg" alt="third_example" class="team__img" />
                </div>
                <div class="team__info">
                    <h2 class="team__name">Nike M2K Tekno </h2>
                    <p class="team__position"></p>
                </div>
            </article>

            <!-- Четвертый пример -->
            <article class="team__item">
                <div class="team__photo">
                    <img src="/img/shoes-example/four_example.jpg" alt="four_example" class="team__img" />
                </div>
                <div class="team__info">
                    <h2 class="team__name">Nike V2K Run</h2>
                    <p class="team__position"></p>
                </div>
            </article>
        </div>
    </div>
</section>

      
<section class="clients" data-aos="zoom-in">
  <div class="clients__inner">
      <h2 class="clients__title">Популярні бренди взуття</h2>
      <div class="clients__cards">
          <div class="clients__card">
              <img src="/img/brands/logo_nike.svg" alt="" class="clients__icon">
          </div>
          <div class="clients__card">
              <img src="/img/brands/adidas_logo.svg" alt="" class="clients__icon">
          </div>
          <div class="clients__card">
              <img src="/img/brands/asics_logo.svg" alt="" class="clients__icon">
          </div>
          <div class="clients__card">
              <img src="/img/brands/new_balance_logo.svg" alt="" class="clients__icon">
          </div>
          <div class="clients__card">
              <img src="/img/brands/salomon_logo_2022.svg" alt="" class="clients__icon">
          </div>
          <div class="clients__card">
              <img src="/img/brands/vans-logo.svg" alt="" class="clients__icon">
          </div>
      </div>
  </div>
</section>

      
      
    </main>
    <footer class="footer">
      <div class="container footer__container">
        
    
        <div class="footer__lists">
          
          <ul class="footer__info-list">
            <li class="footer__info-item">
              <div class="footer__photo">
                <a href="#" class="footer__logo">
                  <img src="/img/logo/logo.png" alt="logo-footer" class="footer__logo-image">
                </a>
              </div>
              <address class="footer__info-address">
                м. Київ, пр-т Лесі Українки, 26
              </address>
            </li>
            <li class="footer__info-item">
              <a href="mailto:info@devstudio.com" class="footer__info-link">info@devstudio.com</a>
            </li>
            <li class="footer__info-item">
              <a href="tel:+380961111111" class="footer__info-link">+38 096 111 11 11</a>
            </li>
          </ul>
    
          <ul class="footer__social-network">
            <li class="footer__social-network-title">
              приєднуйтесь
            </li>
            <li class="footer__social-network-items">
              <div class="footer__icons">
                <div class="footer__icon-block">
                  <svg width="20" height="20" viewBox="0 0 20 20" class="footer__icon" >
                      <img src="/img/social-logo/instagram.svg" alt="instagram">
                  </svg>
                </div>
                <div class="footer__icon-block">
                  <svg width="20" height="20" viewBox="0 0 20 20" class="footer__icon">
                      <img src="/img/social-logo/x.svg" alt="x">
                  </svg>
                </div>
                <div class="footer__icon-block">
                  <svg width="20" height="20" viewBox="0 0 20 20" class="footer__icon">\
                      <img src="/img/social-logo/facebook.svg" alt="facebook">
                  </svg>
                </div>
                <div class="footer__icon-block">
                  <svg width="20" height="20" viewBox="0 0 20 20" class="footer__icon">
                      <img src="/img/social-logo/linkedin.svg" alt="linkedin">
                  </svg>
                </div>
              </div>
            </li>
          </ul>
    
          <ul class="footer__newsletter">
            <li class="footer__newsletter-title">
              Підпишіться на розсилку
            </li>
            <li class="footer__newsletter-item">
              <div class="footer__newsletter-outline">
                <input type="text" class="footer__newsletter-input" placeholder="E-mail">
              </div>
              <button type="submit" class="footer__newsletter-button">
                Підписатися
                <svg width="24" height="24" viewBox="0 0 24 24" class="footer__newsletter-icon">
                  <use href="static/img/footer-icons/symbol-defs.svg#icon-telegram" class="footer__newsletter-icon-use"></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    
    
<!--    <div class="backdrop is-hidden" data-modal>-->
<!--      <div class="modal">-->
<!--        <button class="modal__btn-close btn" data-modal-close>-->
<!--          <svg width="20" height="20" viewBox="0 0 20 20" class="modal__icon">-->
<!--            <use href="/img/modal-icons/close-icon/symbol-defs.svg#icon-closebtn"></use>-->
<!--          </svg>-->
<!--        </button>-->
<!--        <div class="modal__content">-->
<!--          <h3 class="modal__title">-->
<!--            Залиште свої дані, ми вам передзвонимо-->
<!--          </h3>-->
<!--          <form class="modal__form contact-form" novalidate>-->
<!--            <div class="modal__form-group form-group">-->
<!--              <div class="form-group__input-group group-input">-->
<!--                <label class="group-input__label form-label">Ім'я</label>-->
<!--                <input type="text" id="user-name" class="group-input__input form-input" minlength="2" required>-->
<!--                <svg width="20" height="20" viewBox="0 0 20 20" class="group-input__icon input-icon">-->
<!--                  <use href="/img/modal-icons/input-icons/symbol-defs.svg#icon-user"></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="form-group__input-group group-input">-->
<!--                <label class="group-input__label form-label">Телефон</label>-->
<!--                <input type="number" id="user-phone" class="group-input__input form-input" required>-->
<!--                <svg width="20" height="20" viewBox="0 0 20 20" class="group-input__icon input-icon">-->
<!--                  <use href="/img/modal-icons/input-icons/symbol-defs.svg#icon-phone"></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="form-group__input-group group-input">-->
<!--                <label class="group-input__label form-label">Пошта</label>-->
<!--                <input type="email" id="user-mail" class="group-input__input form-input" required>-->
<!--                <svg width="20" height="20" viewBox="0 0 20 20" class="group-input__icon input-icon">-->
<!--                  <use href="/img/modal-icons/input-icons/symbol-defs.svg#icon-envelope"></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="form-group__input-group group-input">-->
<!--                <label class="group-input__label form-label">Коментар</label>-->
<!--                <textarea id="user-message" class="group-input__input form-input" placeholder="Введіть текст"></textarea>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="modal__form-checkbox form-checkbox">-->
<!--              <input type="checkbox" id="subscription" class="form-checkbox__input input-checkbox" required>-->
<!--              <label for="subscription" class="form-checkbox__label label-checkbox">-->
<!--                Погоджуюся з розсилкою та приймаю <a href="https://web-studio.kiev.ua/dogovir-pro-umovy-ta-pravyla-vykorystannya-sajtu/" target="_blank" class="label-checkbox__link checkbox-link">Умови договору</a>-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="modal__form-submit form-submit">-->
<!--              <button class="form-submit__button send-submit" type="submit">Відправити</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>    -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/js/modal.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/dropdown.js"></script>
    </body>
  </html>

